<div class="main home-show">
  <div class="container">
    <div class="home-show-item">
      <p>
        <%= @member.name %>
      </p>
      <div class="home-time">
        <%= @member.plan.strftime("%H:%M") %>
        <%= link_to("退出", "/#{@member.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>